name: Node.js CI

on:
    push:
        branches-ignore:
            - "dependabot/**"
    pull_request:

env:
    CI: true
    FORCE_COLOR: 2
    NODE_COV: 16 # The Node.js version to run coveralls on

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 16
                  cache: npm
            - run: npm ci
            - run: npm run lint

    test:
        name: Node ${{ matrix.node }}
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                node:
                    - 16

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node }}
                  cache: npm
            - run: npm ci
            - run: npm run build --if-present

            - name: Run Jest
              run: npm run test
